{% assign thl = site.data.translations.header[page.lang] %}
{% assign lel = site.data.links.external[page.lang] %}
{% assign la = site.data.links.assets %}
{% assign li = site.data.links.internal %}
{% assign ln = site.data.links.nav %}

<div class="boxed animated fadeIn animation-delay-5">

  <div id="headerwrapper">
    <nav id="skiplinks" aria-label="Jump links">
        <ul class="jumplinks">
            <li><a href="#maintop" tabindex="0">Skip navigation</a></li>
            <li><a href="#nav" tabindex="0">Skip to navigation</a></li>
            <li><a href="#footer" tabindex="0">Skip to the bottom</a></li>
        </ul>
    </nav>
    <div id="meta">
        <div class="header-container">
            <div class="header-row" id="meta-menu">
                <div class="meta-links-container">
                    <a href="#meta-menu" class="meta-links-trigger meta-links-trigger-open">
                        <span class="meta-links-trigger-text">Simulate organization breadcrumb open</span>
                        <span class="meta-links-trigger-icon meta-links-trigger-icon-fau">
                            <svg height="58" width="153" aria-labelledby="website-title" aria-hidden="true"
                                role="img">
                                <use xlink:href="#fau-logo-2021" class="faubaselogo" />
                            </svg> </span>
                    </a>
                    <a href="#top" class="meta-links-trigger meta-links-trigger-close">
                        <span class="meta-links-trigger-text">Simulate organization breadcrumb close</span>
                        <span class="meta-links-trigger-icon">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times"
                                class="svg-inline--fa fa-times fa-w-11" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                                <path fill="currentColor"
                                    d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                                </path>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="meta-logo">
                    <div class="branding" itemscope itemtype="http://schema.org/Organization">
                        <span class="textlogo"><span class="baselogo"><svg height="58" width="153"
                                    aria-labelledby="website-title-meta" aria-hidden="true" role="img">
                                    <use xlink:href="#fau-logo-2021" class="faubaselogo" />
                                </svg></span><span class="text"><span class="fau-title"
                                    aria-hidden="true">Friedrich-Alexander-Universität</span> <span
                                    id="website-title-meta" class="visible-title tf" itemprop="name">AIMI
                                    Lab</span></span></span>
                    </div>
                </div>
            </div>
            <nav class="meta-links" aria-label="Navigation: More offers">
                <ul class="orgalist">
                    <li class="fauhome"><a href="https://www.fau.eu"><svg height="16" width="42"
                                aria-labelledby="fau-logo-2021-title-3 fau-logo-2021-desc-3" role="img">
                                <title id="fau-logo-2021-title-3">FAU</title>
                                <desc id="fau-logo-2021-desc-3">To the central FAU website</desc>
                                <use xlink:href="#fau-logo-2021" class="fau" />
                            </svg></a></li>
                </ul>
                <nav class="orga-breadcrumb" aria-label="Organizational navigation">
                    <ol class="breadcrumblist" itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a
                                itemprop="item" href="https://www.fau.eu" data-wpel-link="internal"><span
                                    itemprop="name">Friedrich-Alexander-Universität</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a
                                itemprop="item" href="https://www.tf.fau.eu/" data-wpel-link="internal"><span
                                    itemprop="name">Faculty of Engineering</span></a>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                </nav>
                <ul class="meta-nav menu">
                    <li><a data-wpel-link="internal" href="https://campo.fau.de/">Campo</a></li>
                    <li><a data-wpel-link="internal" href="https://univis.fau.de/">UnivIS</a></li>
                    <li><a data-wpel-link="internal" href="https://www.jobs.fau.de/">Jobs</a></li>
                    <li><a data-wpel-link="internal" href="https://karte.fau.de/">Map</a></li>
                    <li><a data-wpel-link="internal" href="https://www.fau.de/notfall/">Help</a></li>
                </ul>
            </nav>
        </div>
    </div>
  </div>

  <!--<header id="header" class="{{ hg }}">-->
  <header id="header">
    <div class="container">
      <div id="header-title">

        {% if page.lang == 'ja' %}
        <h1 class="animated fadeInDown"><a href="{{ site.baseurl }}{{ li.home }}/{{ page.lang }}">
            <img src="{{ site.baseurl }}{{ la.img }}/title-rg-l.jpg" class="hidden-xs"></img>
            <img src="{{ site.baseurl }}{{ la.img }}/title-rg-s.jpg" class="hidden-sm hidden-md hidden-lg"></img>
          </a></h1>
        {% else %}
        <h1 class="animated fadeInDown"><a href="{{ site.baseurl }}{{ li.home }}/{{ page.lang }}"><span>{{ thl.title_l }}</span>{{ thl.title_r }}</a></h1>
        {% endif %}
        <p class="animated fadeInLeft">{{ thl.subtitle }}</p>

        <div class="hidden-xs hidden-sm">

      <!-- AYW 2014-06-09 13:14 JST Used social media icons for special links and language switcher -->
      {% if page.lang == 'ja' %} 
      {% assign l1 = '/ja/' %}
      {% assign l2 = '/en/' %}
      {% else %}
      {% assign l1 = '/en/' %}
      {% assign l2 = '/ja/' %}
      {% endif %}
      <div id="social-header" class="hidden-xs hidden-sm">
        <a href="{{ site.baseurl }}{{ li.contact }}/{{ page.lang }}" class="social-icon soc-contact animated fadeInDown animation-delay-1"><i class="fa fa-envelope"></i></a>
        <a href="{{ lel.access }}" target="_blank" class="social-icon soc-access animated fadeInDown animation-delay-2"><i class="fa fa-location-arrow"></i></a>
        <a href="{{ lel.ccs }}" target="_blank" class="social-icon soc-ccs animated fadeInDown animation-delay-3"><img src="{{ site.baseurl }}{{ la.img }}/ccs-w-s.png"></img></a>
        <a href="{{ lel.uot }}" target="_blank" class="social-icon soc-uot animated fadeInDown animation-delay-4"><img src="{{ site.baseurl }}{{ la.img }}/uot-w-s.png"></img></a>
        <a href="{{ site.baseurl }}{{ page.url | replace_first: '/en/','/ja/' | remove: 'index.html' }}" class="social-icon soc-lang-sel animated fadeInDown animation-delay-5 {% if page.lang == 'ja' %} active {% endif %}"><sub>{{ thl.ja }}</sub></a>
        <a href="{{ site.baseurl }}{{ page.url | replace_first: l1,l2 | remove: 'index.html'}}" class="social-icon soc-language animated fadeInDown animation-delay-6"><i class="fa fa-language"></i></a>
        <a href="{{ site.baseurl }}{{ page.url | replace_first: '/ja/','/en/' | remove: 'index.html'}}" class="social-icon soc-lang-sel animated fadeInDown animation-delay-7 {% if page.lang == 'en' %} active {% endif %}"><sub>{{ thl.en }}</sub></a>
      </div>

      <!-- Search Header -->
      <div id="search-header" class="hidden-xs hidden-sm animated fadeInRight">
        <!--<div class="input-group">-->

        <form action="{{ site.baseurl }}{{ li.search }}/{{ page.lang }}/index.html">
        <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
        <div style="clear: both;"></div>
        </form>

      </div>

      </div> <!-- Only in md and lg -->

    </div> <!-- container -->


  </header> <!-- header -->

  <nav class="navbar navbar-static-top navbar-mind" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-mind-collapse">
          <span class="sr-only">{{ thl.toggle_nav }}</span>
          <i class="fa fa-bars fa-inverse"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-mind-collapse">
        <ul class="nav navbar-nav">
          {% for l in ln %}
          {% assign lk = l[0] %}
          {% assign lv = l[1] %}
          {% assign pu_array = page.url | split: '/' %}
          {% assign pu = pu_array[1] %}
          {% assign lv_compare = lv | split: '_' | first %}
          <li class="dropdown {% if lv_compare contains pu %} active {% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ thl[lk] }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for dl in lv %}
              {% assign dlk = dl[0] %}
              {% assign dlv = dl[1] %}
              {% if dlv == 'header' %}
              <li class="dropdown-header">{{ thl[dlk] }}</li>
              {% else %}
                {% if dlv == 'external' %} {% assign link = lel[dlk] %}
                {% elsif dlk == 'home_ja' %} {% assign link =  dlv | prepend: site.baseurl | append: '/' | append: 'ja' %}
                {% elsif dlk == 'home_en' %} {% assign link =  dlv | prepend: site.baseurl | append: '/' | append: 'en' %}
                {% else %} 
                  {% if dlv contains '#' %} 
                    {% assign dlv_split = dlv | split: '#' %} 
                    {% assign dlv_cat = dlv_split[0] %}
                    {% assign dlv_loc = dlv_split[1] %}
                    {% assign link =  dlv_cat | prepend: site.baseurl | append: page.lang | append: '/#' | append: dlv_loc %}
                  {% else %}
                    {% assign link =  dlv | prepend: site.baseurl | append: '/' | append: page.lang %}
                  {% endif %}
              {% endif %}
              <li {% if pu == dlk %} class="active" {% endif %}><a href="{{ link }}" {% if dlv == 'external' %}target="_blank"{% endif %}>{{ thl[dlk] }} {% if dlv == 'external' %} <font size="1"><i class="fa fa-external-link"></i></font>{% endif %}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li> <!-- dropdown -->
          <!--{% unless lk == 'home' %}-->
          <!--{% endunless %}-->
          {% endfor %}

        </ul> <!-- nav nabvar-nav -->

        <!-- AYW 2014-06-27 15:37 JST Right navbar is to replace language switch 
          and contact and access links for xs size which are in social icons in other sizes -->
          <ul class="nav navbar-nav navbar-right hidden-md hidden-lg">
            {% assign pu_array = page.url | split: '/' %}
            {% assign pu = pu_array[1] %}
            <li class="dropdown"> <a href="{{ site.baseurl }}{{ page.url | replace_first: l1,l2 | remove: 'index.html'}}"><i class="fa fa-language"></i> 　{{ thl.readin }}</a></li>
            <li class="dropdown {% if pu == 'contact' %} active {% endif %}"> <a href="{{ site.baseurl }}{{ li.contact }}/{{ page.lang }}"><i class="fa fa-envelope"></i>　{{ thl.contact }}</a> </li>
            <li class="dropdown "> <a href="{{ lel.access }}" target="_blank"><i class="fa fa-location-arrow"></i> 　{{ thl.access }} <sup><i class="fa fa-external-link"></i></sup></a> </li>
            <li class="dropdown "> <a href="{{ site.baseurl }}{{ li.search }}/{{ page.lang }}" target="_blank"><i class="fa fa-search"></i> 　{{ thl.search }} </a> </li>
          </ul> <!-- nav nabvar-nav navbar-right -->

      </div><!-- navbar-collapse -->
    </div> <!-- container -->
  </nav> <!-- navbar navbar-default -->

